/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: rgba(235, 227, 227, 0.844);
    --fade-color: rgba(235, 227, 227, 0.574);
    --bg-color: rgba(0, 0, 0, 0.821);
}

html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
}

.custom_container_header {
    position: fixed;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

.bg-dark {
    background-color: var(--bg-color);
}

/* START OF HEADER SECTION */

.profile_picture {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.header_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
}

.pointer_input_field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input_fields i {
    position: absolute;
    padding: 5px 6px;
    min-width: 40px;
    font-size: 1.5rem;
}

.custom_input_field {
    border-radius: 50px;
    outline: none;
    padding: 2.5px 25px;
    align-items: center;
    border: none;
}

.custom_input_field[type='text'] {
    font-size: 1.2rem;
}

.person_information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}

.custom_arrow_left {
    color: var(--main-color);
}

.custom_arrow_right {
    color: var(--fade-color);
}

.custom_person_icon {
    color: var(--main-color);
    font-size: 1.7rem;
    margin-right: 30px;
}

.person_profile {
    color: var(--main-color);
    font-size: 1.25rem;
    margin-left: 4px;
    letter-spacing: -0.08rem;
}

.custom_person_icon:hover,
.custom_arrow_left:hover,
.custom_dropdown_arrow:hover {
    color: white;
}

.custom_dropdown_arrow {
    color: var(--main-color);
    font-size: 2rem;
}


/* END OF THE HEADER SECTION */

/* START OF MAIN SECTION */

.custom_collapse {
    color: var(--main-color);
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.collapsed_arrow {
    font-size: 1.2rem;
}

.custom_collapse_content {
    color: var(--main-color);
    font-size: 1.2rem;
}


.custom_collapse_content p {
    margin: 0 0 0 4px;
    padding: 10px;
}


.browse_div,
.activity_div,
.radio_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}