/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



:root {
    --main-color: rgba(235, 227, 227, 0.844);
    --fade-color: rgba(235, 227, 227, 0.574);
    --bg-color: rgba(0, 0, 0, 0.821);
    --secondary-bg-color: rgba(75, 74, 74, 0.414);
    --spotify-color: #1DB954;
}

.bg-dark {
    background-color: var(--bg-color);
}

.custom_tabable {
    position: absolute;
    z-index: 1;
    top: 300px;
    font-size: 1.3rem;
    background-color: rgba(17, 16, 16, 0.508);
}


.custom_tab_content {
    position: absolute;
    z-index: 1;
    top: 360px;
    background-color: rgb(12, 12, 12);
}

.custom_nav_link {
    font-size: 1.4rem;
    background-color: transparent;
    letter-spacing: 0.1rem;
    margin-left: 20px;
    border: none;
    color: var(--main-color);
    font-weight: 500;
    padding: 20px 0 15px 0;
}

/* .custom_link {
    padding: 10px 0;
} */

.right {
    margin-left: 30px;
}


.custom_nav_link:hover {
    color: white;
}

.custom_nav_link.active {
    border-bottom: 5px solid var(--spotify-color);
}

.custom_main_content {
    padding: 20px;
}

.main_content_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.6rem 1fr 1.6rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 1.6rem;
       -moz-column-gap: 1.6rem;
            column-gap: 1.6rem;
}

.main_content_container h3 {
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
    color: var(--main-color);
    margin-bottom: 11px;
}

/* LATEST RELEASES */

.latest_releases {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
}

.latest_release_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--secondary-bg-color);
}

.track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 13px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.track p {
    font-size: 1.4rem;
    margin: 0;
    color: white;
}

.track p:last-child {
    color: var(--main-color);
    font-family: 'Courier New', Courier, monospace;
    word-spacing: -0.3rem;
}

.latest_image_release {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover;
}

/* POPULAR */

.custom_popular {
    margin-top: 40px;
}

.custom_track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    border-top: 1px solid var(--secondary-bg-color);
    border-bottom: 1px solid var(--secondary-bg-color);
}

.custom_track:hover {
    background-color: var(--secondary-bg-color);
}

.custom_track * {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.custom_track p:first-of-type {
    margin-left: 10px;
    color: var(--main-color);
    margin-right: 30px;
}

.custom_track i {
    margin-right: 30px;
    color: var(--main-color);
}

.custom_track p:nth-last-of-type(2) {
    margin-right: auto;
    width: 50%;
    font-weight: 500;
    color: #fff;
}

.custom_track p:last-of-type {
    margin-left: auto;
    text-align: right;
    width: 30%;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--main-color);
}

.custom_track span {
    font-size: 1rem;
    margin: auto;
    border: 1px solid rgba(75, 74, 74, 0.744);
    border-radius: 3px;
    color: rgba(75, 74, 74, 0.744);
    padding: 2px 4px;

}

.track_image {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
}

.custom_show_more {
    padding: 2px 13px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    margin-top: 15px;
    font-size: 1.4rem;
    border-radius: 50px;
    word-spacing: -0.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.custom_show_more:hover {
    color: white;
    border-color: #fff;
}

/* RELATED ARTISTS */

.related_artists_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--secondary-bg-color);
    padding: 5px;
    margin-bottom: 2px;
}

.related_artists_item:hover {
    background-color: rgba(235, 227, 227, 0.193);
    cursor: pointer;
}

.related_artists_item p {
    color: white;
    font-size: 1.35rem;
    font-weight: 500;
    margin-left: 18px;
    margin-bottom: 0;
}

.related_artist_item_img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -o-object-fit: cover;
       object-fit: cover;
}

/* FIND FRIENDS */

.find_friends_column {
    color: var(--main-color);
    background-color: rgb(12, 12, 12);
}

.friend {
    font-size: 1.4rem;
    padding: 10px 20px;
    margin-top: 20px;
}

.friend:hover {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

.friend i:hover {
    color: #fff;
    cursor: pointer;
}

.friend i {
    margin-right: 10px;
}

.friend_button {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}